<!DOCTYPE html>
<html>

<head>
    <title>Сведения</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Введите зачетного билета</h1>
    <form action="/stud" method="post">
        <br>
        <label>Номер</label><br>
        <input type="text" name="biletnum" /><br><br>
        <label>Группа</label><br>
        <input type="text" name="groupe" /><br><br>
        <label>Курс</label><br>
        <input type="number" name="curse" /><br><br>
        <label>Факультет</label><br>
        <input type="text" name="faculty" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
</body>

</html>